
.icon-location:before { content: '\e800'; } /* '' */
.icon-facebook-circled:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-grocery-store:before { content: '\e81e'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-circled-1:before { content: '\f30d'; } /* '' */